@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?951d3dbeda2f963beaf0653f54b7553a") format("truetype"),
url("./flaticon.woff?951d3dbeda2f963beaf0653f54b7553a") format("woff"),
url("./flaticon.woff2?951d3dbeda2f963beaf0653f54b7553a") format("woff2"),
url("./flaticon.eot?951d3dbeda2f963beaf0653f54b7553a#iefix") format("embedded-opentype"),
url("./flaticon.svg?951d3dbeda2f963beaf0653f54b7553a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-play-button:before {
    content: "\f101";
}
.flaticon-selfie:before {
    content: "\f102";
}
.flaticon-monitoring:before {
    content: "\f103";
}
.flaticon-route:before {
    content: "\f104";
}
